name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout source code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Setup Java
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # 3. Build & test
      - name: Build with Maven
        run: mvn clean package

      # 4. Login to DockerHub
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 5. Build Docker image
      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/java-ci-cd-k8s:${{ github.sha }} .
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/java-ci-cd-k8s:${{ github.sha }} \
                     ${{ secrets.DOCKERHUB_USERNAME }}/java-ci-cd-k8s:latest

      # 6. Push Docker image
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/java-ci-cd-k8s:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/java-ci-cd-k8s:latest

